{% extends 'biomerge/base.html' %}

{% block content %}
<div class="page container">
  <div class="page-inner">
    <header class="page-title-bar">
      <h1 class="page-title">Upload Results</h1>
    </header>
    <div class="page-section">
      <div class="section-block">
        <div class="container card">
          <div class="container card-body">
            <h3>{{results_message}}</h3>
          </div>
        </div>
      </div>

    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
{% endblock %}