{% extends 'biomerge/base.html' %}

{% block content %}
<div class="page container">
  <div class="page-inner">
    <header class="page-title-bar">
      <h1 class="page-title"> Update DB</h1>
    </header>
    <div class="page-section">
      <div class="section-block">
        <div class="container">
          <div class="container card">
            <div class="row-12 card-body text-center">
              <!-- <p>row 1</p> -->
              <a href="">
                <h1>UPLOAD DATA FROM PC</h1>
              </a>
            </div>
          </div>

          <div class="container card">
            <div class="row-12 card-body text-center">
              <!-- <p>row 2</p> -->
              <a href="">
                <h1>LOAD DATA FROM API</h1>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
{% endblock %}