{% extends 'biomerge/base.html' %}

{% block content %}
<div class="page container">
  <div class="page-inner">
    <header class="page-title-bar">
      <h1 class="page-title"> Update DB Via API</h1>
    </header>
    <div class="page-section">
      <div class="section-block">
        <div class="container card">
          <div class="container card-body">
            <form action="{% url 'biomerge:api_results' %}">
              <div class="container">
                <p class="card-text">
                  <h1>Load Data From API</h1>
                </p>
              </div>
              <div class="container">
                <div class="col-8">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" name="query"
                      placeholder="Accession ID, Sequence ID, etc" aria-describedby="basic-addon3">
                  </div>
                </div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <select class="form-control" name="db_name" id="">
                      <option value="">---Select API---</option>
                      <option value="genbank">GENBANK</option>
                      <option value="pubmed">PUBMED</option>
                      <option value="ncbi">NCBI</option>
                      <option value="ncbi">NCBI</option>
                    </select>
                  </div>
                </div>
                <div class="col-8 mb-3">
                  <input type="submit" class="btn btn-sm btn-primary" value="Load Data">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
{% endblock %}