{% extends 'biomerge/base.html' %}

{% block content %}
<div class="page container">
  <div class="page-inner">
    <header class="page-title-bar">
      <h1 class="page-title"> Load Data From File</h1>
    </header>
    <div class="page-section">
      <div class="section-block">
        <div class="container card">
          <div class="container card-body">
            <form action="{% url 'biomerge:file_results' %}" enctype="multipart/form-data">
              <div class="container">
                <p class="card-text">
                  <h1>Upload Data From PC</h1>
                </p>
              </div>
              <div class="container">
                <div class="col-8">
                  <div class="input-group mb-3">
                    <input type="file" class="form-control" name="fasta_file" id="basic-url"
                      aria-describedby="basic-addon3">
                  </div>
                </div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <select class="form-control" name="" id="">
                      <option value="">---File Type---</option>
                      <option value="fasta">FASTA</option>
                      <option value="pdb">PDB</option>
                      <option value="gb">GB</option>
                    </select>
                  </div>
                </div>
                <div class="col-8">
                  <input type="submit" class="btn btn-sm btn-primary" value="Upload Data">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div><!-- /.page-section -->
  </div><!-- /.page-inner -->
</div><!-- /.page -->
{% endblock %}